In [1]:
import numpy as np
import pandas as pd

In [2]:
lat = np.linspace(37.90768039,37.67637961,num = 32,endpoint = True)
lon = np.linspace(-122.5191224,-122.2878216, num = 32,endpoint = True)

In [3]:
np.shape(lat)
lat

array([37.90768039, 37.90021907, 37.89275776, 37.88529644, 37.87783513,
       37.87037381, 37.8629125 , 37.85545118, 37.84798987, 37.84052855,
       37.83306724, 37.82560592, 37.8181446 , 37.81068329, 37.80322197,
       37.79576066, 37.78829934, 37.78083803, 37.77337671, 37.7659154 ,
       37.75845408, 37.75099276, 37.74353145, 37.73607013, 37.72860882,
       37.7211475 , 37.71368619, 37.70622487, 37.69876356, 37.69130224,
       37.68384093, 37.67637961])

In [28]:
a = np.array([[0,0," "]])
for i in range(len(lat)):
    la = lat[i]
    for j in range(len(lon)):
        lo = lon[j]
        lab = str(i) + "||" + str(j)
        a = np.concatenate((a, np.array([[la, lo, lab]])), axis = 0)
a = np.delete(a,0,0)

In [29]:
np.shape(a)

(1024, 3)

In [30]:
df = pd.DataFrame(a)

In [31]:
df.to_csv("modified_lat_lon.csv")

In [8]:
np.diff(lat)

array([-0.00746132, -0.00746132, -0.00746132, -0.00746132, -0.00746132,
       -0.00746132, -0.00746132, -0.00746132, -0.00746132, -0.00746132,
       -0.00746132, -0.00746132, -0.00746132, -0.00746132, -0.00746132,
       -0.00746132, -0.00746132, -0.00746132, -0.00746132, -0.00746132,
       -0.00746132, -0.00746132, -0.00746132, -0.00746132, -0.00746132,
       -0.00746132, -0.00746132, -0.00746132, -0.00746132, -0.00746132,
       -0.00746132])

In [9]:
lat_step = (37.67637961-37.90768039) / 31.0
lon_step = (-122.2878216 - -122.5191224) / 31.0

In [33]:
df2=pd.read_csv('problem8_tensorData - problem8_tensorData.csv', sep=',',header=None)
header_csv = df2.iloc[0]
df2.columns = header_csv
df2 = df2.iloc[1:79]
df2

,TAZ,Label,Pix_Count,X_Centroid,Y_Centroid,Var6
1,1,6,9,2.888888889,4.666666667,Residential
2,2,2,3,2,4,Greenland
3,3,3,1,2,7,Beach (leisure)
4,4,1,247,8.497975709,18.15789474,Seawater
5,5,6,7,2.285714286,21.42857143,Residential
...,...,...,...,...,...,...
74,74,8,3,28.33333333,19.33333333,Dispensaries
75,75,2,16,31.4375,7.0625,Greenland
76,76,5,4,30.5,15.5,K-12
77,77,2,6,31.83333333,16.66666667,Greenland
78,78,10,8,31.75,18.625,Professional Office (downtown)

In [41]:
#conversions
lats = pd.to_numeric(df2.iloc[:, 3])
lats = pd.Series(lats).to_numpy()-1.5
latitudes = 37.90768039 + (lats) * lat_step
lons = pd.to_numeric(df2.iloc[:, 4])
lons = pd.Series(lons).to_numpy()-1.5
longitudes = (lons) * lon_step + -122.5191224

In [42]:
df3 = pd.DataFrame(np.array([latitudes,longitudes]).T)

In [43]:
taz = pd.Series(np.arange(1,79))

In [44]:
df3.insert(0,"TAZ", taz)

In [45]:
df3

    TAZ          0           1
0     1  37.897317 -122.495495
1     2  37.903950 -122.500469
2     3  37.903950 -122.478085
3     4  37.855466 -122.394833
4     5  37.901818 -122.370429
..  ...        ...         ...
73   74  37.707468 -122.386062
74   75  37.684307 -122.477619
75   76  37.691302 -122.414664
76   77  37.681354 -122.405959
77   78  37.681976 -122.391347

[78 rows x 3 columns]

In [46]:
df3.to_csv("centroids.csv")